price(dependent) = m1*area + m2*bedrooms + m3*age

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv("C:/Users/bhavy/OneDrive/Desktop/Machine learning/linear  regression(multiple variable)/houseprediction.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math 
md = math.floor(df.bedrooms.median())
md

3

In [6]:
df.bedrooms = df.bedrooms.fillna(md)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [12]:
reg.coef_
#m1,m2,m3 values

array([   137.25, -26025.  ,  -6825.  ])

In [14]:
reg.predict([[3000, 4, 15]])

c:\Users\bhavy\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([589000.])